<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/styles/layout.css">
    <title>Blog Creation</title> 
</head> 
<body>
    <h1>Hey, it's my blog here! Welcome🧡💥</h1> 
    <form action="/submit" method="POST">
        <input type="text" name="user" placeholder="username">
        <input type="text" name="password" placeholder="password">
        <input type="submit" value="login">
      </form>
</body> 
</html> 