<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/layout.css">
    <title>Sports blog</title>
</head>
<body>
    <h2>Welcome To A World Of Sports</h2>
    <h3>A collection of the names of football's best teams</h3>
    <ul>
        <li>CHELSEA</li>
        <li>MANCHESTER CITY</li>
        <li>LIVERPOOL</li>
        <li>ARSENAL</li>
        <li>MANCHESTER UNITED</li>
        <li>REAL MADRID</li>
        <li>BARCELONA</li>
        <li>ATLETICO MADRID</li>
        <li>JUVENTUS</li>
        <li>INTER MILAN</li>
        <li>AC MILAN</li>
        <li>PARIS SAINT GERMAIN</li>
        <li>OLYMPIQUE MARSEILLE</li>
        <li>BAYERN MUNICH</li>
        <li>BORUSSIA DORTMUND</li>
    </ul>
</body>
</html>